* {
  margin: 0;
  padding: 0;
}
.design {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("image.png");
  height: 130vh;
}
.navigation {
  width: 1100px;
  height: 75px;
  margin: auto;
}
.icon {
  width: 200px;
  float: left;
  height: 70px;
}
.toolbar {
  width: 400px;
  float: left;
  height: 90px;
  margin-left: 400px;
}
ul {
  float: left;
  display: flex;
  justify-content: right;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 30px;
}
ul li a {
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  font-weight: bolder;
  transition: 0.5s ease-in-out;
  color: orangered;
}
ul li a:hover {
  color: blue;
}
.tabs {
  color: white;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  float: left;
  padding-left: 0%;
  padding-top: 10px;
}
.pagename {
  height: auto;
  width: 800px;
  margin: auto;
  color: white;
  position: relative;
  font-size: larger;
  font-weight: bolder;
  float: left;
}

.pagename .describe {
  padding-left: 30px;
  padding-bottom: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
  line-height: 30px;
}

.pagename h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  padding-left: 10px;
  margin-top: 9%;
  letter-spacing: 5px;
}
.pagename span {
  font-size: 65px;
  color: blue;
}

.pagename p {
  color: orangered;
}
